<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{utilizador-empresarial_layout :: utilizador-empresarial_layout (~{::section})}">

<body>
<section>
    <h2>Registar Tema:</h2> <br>

    <div class="error" th:text="${error}"></div>


    <form action="#" th:action="@{'/utilizador-empresarial/' + ${uE.id} + '/temas/registar'}" th:object="${tema}"
          method="post">
        <label for="nome">Nome:</label> <br>
        <input type="text" name="nome" th:field="*{titulo}" required>
        <label for="descricao">Descrição:</label><br>
        <textarea name="decricao" th:field="*{descricao}" rows="5" cols="33" maxlength="2048"></textarea><br><br>
        <label for="remuneracao">Remuneração Mensal:</label> <br>
        <input type="text" name="remunracao" th:field="*{remuneracaoMensal}">

        <div th:each="mestrado : ${mestrados}">
            <input type="checkbox" th:value="${mestrado.id}" name="selectedMestrados">
            <label th:text="${mestrado.nome}"></label>
        </div>

        <div>
            <button type="submit">Adicionar</button>
        </div>
    </form>
</section>
</body>

</html>