<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::section})}">

<body>
<section>
    <h2>Docentes:</h2>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>TimeSlots</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${docentes.empty}">
            <td colspan="3">Sem Docentes</td>
        </tr>
        <tr th:each="d : ${docentes}">
            <td th:text="${d.id}">...</td>
            <td><a th:href="@{/docente/} + ${d.id}" th:text="${d.username}">...</a></td>
        </tr>
        </tbody>
    </table>
</section>
</body>

</html>